[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "comperank"]
	path = comperank
	url = https://github.com/echasnovski/comperank
	shallow = true
	registered = true
[submodule "comperes"]
	path = comperes
	url = https://github.com/echasnovski/comperes
	shallow = true
	registered = true
[submodule "keyholder"]
	path = keyholder
	url = https://github.com/echasnovski/keyholder
	shallow = true
	registered = true
[submodule "pdqr"]
	path = pdqr
	url = https://github.com/echasnovski/pdqr
	shallow = true
	registered = true
[submodule "ruler"]
	path = ruler
	url = https://github.com/echasnovski/ruler
	shallow = true
	registered = true
